html {
  background: #e8e8e8;
  font-size: 62.5%;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
}
body {
  margin: 0;
}

#content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
}


