html {
  background: #e8e8e8;
}

* {
  outline: 1px solid red;
}

#header{
  color: #444;
  text-align: center;
  letter-spacing: .30em;
  h1 {
    margin: 0;
  }
}

#content {
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

#results-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  flex-grow: 1;
}

.result-header{
  box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.75);
}

.result-value{
  font-size: 45px;
}

.result-item{
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 40%;
  height: 215px;
  margin: 10px 0px;
}

.value{
  font-size: large;
}

img {
  width: 100%;
  height: auto;
}

.ace-wrapper {
  width: 300px;
  // text-align: center;
}

#ace-editor {
  width: 300px !important;
  height: 500px !important;
  margin: 0 !important;
  display: inline-block;
}

.button-wrapper {
  text-align: center;
  width: 200px;
}

