html {
  background: #e8e8e8;
}

* {
  outline: 1px solid red
}

#header{
  color: #444;
  text-align: center;
  letter-spacing: .30em;
}

#results-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap
}

.result-header{
  border: 8px solid rgb(150, 150, 150);
  width: 100%
}

.result-value{
  font-size: 45px
}

.r1{
  width: 285.828px;
  border: 2px solid rgb(70, 70, 72);
  text-align: center;
  height: 256.609px;
}

.r2{
  width: 285.828px;
  border: 2px solid rgb(70, 70, 72);
  text-align: center;
  height: 256.609px;
}
.r3{
  width: 285.828px;
  border: 2px solid rgb(70, 70, 72);
  text-align: center;
  height: 256.609px;
}

.r4{
  width: 285.828px;
  border: 2px solid rgb(70, 70, 72);
  text-align: center;
  height: 256.609px;
}

.value{
  font-size: large
}

img {
  width: 100%;
  height: auto;
}

#content {
  display: flex;
  align-items: center
}

.ace-editor {
  display: flex;
  align-items: center
}