html {
  background: #e8e8e8;
}

#main h1{
  color: #444;
  text-align: center;
}

#query h1{
  color: #444;
  text-align: center;
}

#enter-query{
  color: #444;
  text-align: center;
}

#query-field{
  text-align: center;
}

#result-item{
  width: 175px;
  border: 15px solid rgb(0, 41, 128);
  padding: 25px;
  margin: 25px;
  text-align: center;
  box-sizing: border-box
}

img {
  width: 100%;
  height: auto;
}