html {
  background: #e8e8e8;
}

#main h1{
  color: #444;
  text-align: center;
}

#query h1{
  color: #444;
  text-align: center;
}

#enter-query{
  color: #444;
  text-align: center;
}

#query-field{
  text-align: center;
}

#resolver h1{
  color: #444;
  text-align: center;
}