.ace-wrapper {
  width: 300px;
  flex: 1;
  height: calc(100vh - 48px);
}

#ace-editor.ace-gruvbox {
  width: 100% !important;
  height: calc(100vh - 48px) !important;
  display: inline-block;
  color: #7fa6bd;

  .ace_content {
    min-height: 100vh;
  }

}

