@import "./node_modules/react-vis/dist/style";

.vis-wrapper {
  width: 350px;
  height: 500px;
  display: block;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.result-header{
  box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.4);

  h5 {
    text-align: center;
    font-size: 2rem;
    margin: 0px;
    padding: 4px 2px;
    font-weight: 600;
  }
}