@import 'variables';


#results-container {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  flex: 2;
  height: calc(100vh - 48px);
  position:relative;
  
  #error {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid $primary-color;
    background: $background-color;

    h2 {
      font-weight: 100;
      font-style: italic;
      color: #ff686b;
      text-align: center;
    }
  }

  #result-nums {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 50px;
    height: 14px;
    transition: opacity 0.2s ease;
    opacity: 1;
  }

  #result-nums.off {
    opacity: 0;
  }

  .result-item {
    padding: 0 10px;
    text-align: center;
    border-right: 3px solid black;

    &:last-child {
      border-right: none;
    }
  }


  h5 {
    font-size: 1.2rem;
    margin: 0px;
    padding: 4px 2px;
    line-height: 12px;
    font-weight: 600;
    display: inline;
  }





.result-value {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 0;


}


.value{
  font-size: large;
}

}






