.result-header{
  box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.4);

  h5 {
    font-size: 2rem;
    margin: 0px;
    padding: 4px 2px;
    font-weight: 600;
  }
}


.result-value{
  font-size: 11rem;
  font-weight: 300;
  margin: 16px 0;
}

.result-item{
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 45%;
  min-height: 215px;
  margin: 10px 0px;

  h6 {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

.value{
  font-size: large;
}