@import 'variables';

button.run {
  border: 1px solid $accent-color;
  color: #fff;
  padding: 8px;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background: $primary-color;
  // transition: background 0.2s ease;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    background: rgb(0,180,180);
    // box-shadow: 0px 17px 10px -10px rgba(57,95,114,0.4);
  }
}
